In [8]:
import json
import pandas as pd
import requests
import numpy as np
import random

In [2]:
filename = "random_users.json"
results = 10

In [4]:
random_users_base_url = "https://randomuser.me/api?"
random_users_specifics = f"format=json&&nat=us&&noinfo&&inc=gender,name,nat,location,phone,email,dob&&results={results}"

format=json&&nat=us&&noinfo&&inc=gender,name,nat,location,phone,email,dob&&results=10

In [7]:
random_users_final_url = random_users_base_url + random_users_specifics
response = requests.get(url=random_users_final_url)
random_users = json.loads(response.text)["results"]
with open(filename, "w+") as f:
    f.write(json.dumps(random_users, sort_keys=True,indent=4))

In [9]:
df = pd.read_json(filename)
df

,dob,email,gender,location,name,nat,phone
0,"{'age': 69, 'date': '1952-05-20T13:43:30.723Z'}",nicole.taylor@example.com,female,"{'city': 'Fayetteville', 'coordinates': {'lati...","{'first': 'Nicole', 'last': 'Taylor', 'title':...",US,(956)-664-9771
1,"{'age': 65, 'date': '1956-06-14T10:27:40.427Z'}",miguel.simpson@example.com,male,"{'city': 'Birmingham', 'coordinates': {'latitu...","{'first': 'Miguel', 'last': 'Simpson', 'title'...",US,(833)-703-4911
2,"{'age': 38, 'date': '1983-02-26T18:29:20.334Z'}",lester.barnes@example.com,male,"{'city': 'Broken Arrow', 'coordinates': {'lati...","{'first': 'Lester', 'last': 'Barnes', 'title':...",US,(717)-335-3295
3,"{'age': 46, 'date': '1975-10-07T05:27:45.144Z'}",carlos.jacobs@example.com,male,"{'city': 'Santa Clara', 'coordinates': {'latit...","{'first': 'Carlos', 'last': 'Jacobs', 'title':...",US,(792)-287-1241
4,"{'age': 38, 'date': '1983-09-28T06:32:29.805Z'}",shelly.ryan@example.com,female,"{'city': 'Duncanville', 'coordinates': {'latit...","{'first': 'Shelly', 'last': 'Ryan', 'title': '...",US,(689)-480-2793
5,"{'age': 43, 'date': '1978-05-05T21:36:03.886Z'}",marion.lane@example.com,female,"{'city': 'Forney', 'coordinates': {'latitude':...","{'first': 'Marion', 'last': 'Lane', 'title': '...",US,(272)-590-6070
6,"{'age': 26, 'date': '1995-06-21T00:01:49.870Z'}",john.frazier@example.com,male,"{'city': 'New Orleans', 'coordinates': {'latit...","{'first': 'John', 'last': 'Frazier', 'title': ...",US,(849)-540-1047
7,"{'age': 73, 'date': '1948-02-20T09:00:53.616Z'}",eugene.boyd@example.com,male,"{'city': 'Aubrey', 'coordinates': {'latitude':...","{'first': 'Eugene', 'last': 'Boyd', 'title': '...",US,(542)-560-5512
8,"{'age': 30, 'date': '1991-06-04T19:48:58.915Z'}",todd.ferguson@example.com,male,"{'city': 'Fresno', 'coordinates': {'latitude':...","{'first': 'Todd', 'last': 'Ferguson', 'title':...",US,(617)-548-5865
9,"{'age': 44, 'date': '1977-01-26T05:39:48.969Z'}",candice.sanchez@example.com,female,"{'city': 'Forney', 'coordinates': {'latitude':...","{'first': 'Candice', 'last': 'Sanchez', 'title...",US,(264)-005-3531

In [11]:
# start new dfs of flattened files
df_dob = df["dob"].apply(pd.Series)
df_location = df["location"].apply(pd.Series)
df_location_good = df_location[["city", "country", "postcode", "state"]]
df_location_coordinates = df_location["coordinates"].apply(pd.Series)
df_location_street = df_location["street"].apply(pd.Series)
df_location_timezone = df_location["timezone"].apply(pd.Series)
df_name = df["name"].apply(pd.Series)

In [12]:
df_refreshed = df.drop(["dob", "name", "location"], axis=1)
df_new = pd.concat([df_refreshed, df_name, df_dob, df_location_good, df_location_street, df_location_coordinates, df_location_timezone], axis=1)
df_new

,email,gender,nat,phone,first,last,title,age,date,city,country,postcode,state,name,number,latitude,longitude,description,offset
0,nicole.taylor@example.com,female,US,(956)-664-9771,Nicole,Taylor,Miss,69,1952-05-20T13:43:30.723Z,Fayetteville,United States,83371,Kansas,Nowlin Rd,1753,3.6722,142.7400,Hawaii,-10:00
1,miguel.simpson@example.com,male,US,(833)-703-4911,Miguel,Simpson,Mr,65,1956-06-14T10:27:40.427Z,Birmingham,United States,81206,Mississippi,W Dallas St,5668,38.5937,98.9254,Mountain Time (US & Canada),-7:00
2,lester.barnes@example.com,male,US,(717)-335-3295,Lester,Barnes,Mr,38,1983-02-26T18:29:20.334Z,Broken Arrow,United States,59257,California,Cherry St,5138,14.6117,163.6869,Tehran,+3:30
3,carlos.jacobs@example.com,male,US,(792)-287-1241,Carlos,Jacobs,Mr,46,1975-10-07T05:27:45.144Z,Santa Clara,United States,52819,Rhode Island,Washington Ave,2093,1.5703,65.4081,Kabul,+4:30
4,shelly.ryan@example.com,female,US,(689)-480-2793,Shelly,Ryan,Miss,38,1983-09-28T06:32:29.805Z,Duncanville,United States,63868,Texas,Rolling Green Rd,9323,-61.4367,-116.0525,"Western Europe Time, London, Lisbon, Casablanca",0:00
5,marion.lane@example.com,female,US,(272)-590-6070,Marion,Lane,Mrs,43,1978-05-05T21:36:03.886Z,Forney,United States,69633,Colorado,Poplar Dr,2562,-64.1238,-18.7830,"Azores, Cape Verde Islands",-1:00
6,john.frazier@example.com,male,US,(849)-540-1047,John,Frazier,Mr,26,1995-06-21T00:01:49.870Z,New Orleans,United States,53216,South Carolina,Preston Rd,4852,-65.0632,-48.1829,Newfoundland,-3:30
7,eugene.boyd@example.com,male,US,(542)-560-5512,Eugene,Boyd,Mr,73,1948-02-20T09:00:53.616Z,Aubrey,United States,21932,Kansas,Karen Dr,342,-18.3280,-10.0025,"Adelaide, Darwin",+9:30
8,todd.ferguson@example.com,male,US,(617)-548-5865,Todd,Ferguson,Mr,30,1991-06-04T19:48:58.915Z,Fresno,United States,43793,Massachusetts,Central St,324,-49.8361,136.5256,Alaska,-9:00
9,candice.sanchez@example.com,female,US,(264)-005-3531,Candice,Sanchez,Mrs,44,1977-01-26T05:39:48.969Z,Forney,United States,96362,Massachusetts,First Street,6541,-86.0805,-77.9585,"Magadan, Solomon Islands, New Caledonia",+11:00

In [21]:
# Saving sample file for testing later on
df_new.to_json("random_users_for_testing.json", orient="records", lines=True)

In [14]:
df_new["minPurchase"] = np.random.randint(0,50, size=len(df_new))
df_new["maxPurchase"] = np.random.randint(100,2500, size=len(df_new))

In [18]:
df_stats = df_new.copy()
df_stats["mean"] = df_stats[["minPurchase", "maxPurchase"]].mean(axis=1)
df_stats["std"] = df_stats[["minPurchase", "maxPurchase"]].std(axis=1)

In [19]:
df_stats

,email,gender,nat,phone,first,last,title,age,date,city,...,name,number,latitude,longitude,description,offset,minPurchase,maxPurchase,mean,std
0,nicole.taylor@example.com,female,US,(956)-664-9771,Nicole,Taylor,Miss,69,1952-05-20T13:43:30.723Z,Fayetteville,...,Nowlin Rd,1753,3.6722,142.7400,Hawaii,-10:00,3,583,293.0,410.121933
1,miguel.simpson@example.com,male,US,(833)-703-4911,Miguel,Simpson,Mr,65,1956-06-14T10:27:40.427Z,Birmingham,...,W Dallas St,5668,38.5937,98.9254,Mountain Time (US & Canada),-7:00,49,392,220.5,242.537626
2,lester.barnes@example.com,male,US,(717)-335-3295,Lester,Barnes,Mr,38,1983-02-26T18:29:20.334Z,Broken Arrow,...,Cherry St,5138,14.6117,163.6869,Tehran,+3:30,0,929,464.5,656.902200
3,carlos.jacobs@example.com,male,US,(792)-287-1241,Carlos,Jacobs,Mr,46,1975-10-07T05:27:45.144Z,Santa Clara,...,Washington Ave,2093,1.5703,65.4081,Kabul,+4:30,39,174,106.5,95.459415
4,shelly.ryan@example.com,female,US,(689)-480-2793,Shelly,Ryan,Miss,38,1983-09-28T06:32:29.805Z,Duncanville,...,Rolling Green Rd,9323,-61.4367,-116.0525,"Western Europe Time, London, Lisbon, Casablanca",0:00,22,831,426.5,572.049386
5,marion.lane@example.com,female,US,(272)-590-6070,Marion,Lane,Mrs,43,1978-05-05T21:36:03.886Z,Forney,...,Poplar Dr,2562,-64.1238,-18.7830,"Azores, Cape Verde Islands",-1:00,47,1628,837.5,1117.935821
6,john.frazier@example.com,male,US,(849)-540-1047,John,Frazier,Mr,26,1995-06-21T00:01:49.870Z,New Orleans,...,Preston Rd,4852,-65.0632,-48.1829,Newfoundland,-3:30,10,1866,938.0,1312.390186
7,eugene.boyd@example.com,male,US,(542)-560-5512,Eugene,Boyd,Mr,73,1948-02-20T09:00:53.616Z,Aubrey,...,Karen Dr,342,-18.3280,-10.0025,"Adelaide, Darwin",+9:30,49,1131,590.0,765.089537
8,todd.ferguson@example.com,male,US,(617)-548-5865,Todd,Ferguson,Mr,30,1991-06-04T19:48:58.915Z,Fresno,...,Central St,324,-49.8361,136.5256,Alaska,-9:00,26,832,429.0,569.928066
9,candice.sanchez@example.com,female,US,(264)-005-3531,Candice,Sanchez,Mrs,44,1977-01-26T05:39:48.969Z,Forney,...,First Street,6541,-86.0805,-77.9585,"Magadan, Solomon Islands, New Caledonia",+11:00,22,1048,535.0,725.491557